@model PetClinicSystem.Models.BillingDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BillingDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bill.BillId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BillingDetailId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
