@model IEnumerable<PetClinicSystem.Models.DiagnosticTest>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Results)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consultation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TestType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Results)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consultation.ConsultationId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TestId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TestId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
