@model PetClinicSystem.Models.VaccineRecord

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VaccineRecord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateGiven)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateGiven)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextDueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextDueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LotNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LotNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdministeredByNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdministeredByNavigation.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.PatientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vaccine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vaccine.VaccineId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RecordId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
